{% load static %}
<div class="w3-margin-top" >
    <div class="w3-dropdown-click">
      <button  class="btn w3-text-purple w3-card-4 w3-white w3-dropdown-hover">
        <a href="" class="w3-text-white w3-large">
          <div class="w3-right  w3-text-purple">
            
             <img src="{% static 'img/favicon/favicon-32x32.png' %}" class="w3-circle "  alt="home" 
            style="width:32px; height:32px;">𝐤ᗩ𝕥𝓪𝐓𝔞..<span>Menu</span>
          </div>
        </a>
   
      <div id="Demo" class="w3-dropdown-content w3-card-4 w3-bar-block w3-small ">
        <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-white" ><i class="fa fa-home w3-text-purple w3-xlarge"></i> <span class="w3-text-white">--</span>Katata</a>
        <a href="{% url 'companys' %}" class="w3-bar-item w3-button w3-hover-white"><i class=" fas fa-award w3-text-purple  w3-xlarge"></i> <span class="w3-text-white">--</span>companies</a>
        <a href="{% url 'realtors' %}" class="w3-bar-item w3-hide w3-button w3-hover-white"><i class="fa fa-user w3-text-purple w3-xlarge"></i> <span class="w3-text-white">--</span>realtors</a>
        <a href="{% url 'plots' %}" class="w3-bar-item w3-hide w3-button w3-hover-white"><i class=" fa fa-certificate  w3-text-purple  w3-xlarge"></i> <span class="w3-text-white">--</span>plots</a>
        <a href="{% url 'towns' %}" class="w3-bar-item w3-button w3-hover-white"><i class="fa fa-map-marker w3-text-purple w3-xlarge"></i> <span class="w3-text-white">--</span>towns</a>
        <a href="{% url 'locations' %}" class="w3-bar-item w3-hide  w3-button  w3-hover-white"><i class=" fa fa-map-pin w3-text-purple w3-xlarge"></i> <span class="w3-text-white">--</span>Areas</a>
      </div>
    </button>
    </div>
  </div>
  

  