{% load static %}


<!-- Navbar -->
<nav class="navbar navbar-expand-lg w3-theme-d5 w3-text-white w3-topbar w3-card-4 w3-border-amber    sticky-top">
    <div class="container">
      
      {% if '/' == request.path %}
      <a class="navbar-brand" href="{% url 'index' %}">   
      <span class="nav-item w3-padding w3-highway-green w3-hide w3-large w3-border w3-border-gold luxe w3-text-gold    w3-wide " style="color:gold;">
        <strong>
          KATATA 
        </strong>
      </span>
      </a>
      {% else %}
      <a class="navbar-brand" href="{% url 'index' %}">  
      <span class="nav-item w3-padding  w3-hover-shadow w3-highway-green btn w3-large w3-border bgimg_2  w3-border-gold luxe w3-text-gold   w3-wide " style="color:gold;">
        <strong style="color:gold;">
            <img src="{% static 'img/logo.png' %}" style="width:32px; height:32px;" logo" class="w3-white w3-border  w3-circle w3-border-green w3-topbar w3-bottombar w3-leftbar w3-rightbar " alt="katata logo" >
          KATATA 
        </strong>
      </span>
      </a>
    {% endif %}
 
 
      <button class="navbar-toggler w3-text-black w3-border w3-amber w3-hover-green w3-border-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class=>
          <i class="navbar-toggler-icon w3-text-amber"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">

             
        <li
        {% if 'about' in request.path %}
          class="nav-item active w3-card w3-text-amber  mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a class="nav-link w3-hide w3-hover-text-amber " href="{% url 'about' %}">
            <i class="fas fa-star"></i> About</a>
        </li>
             
        <li
        {% if 'contactk' in request.path %}
          class="nav-item active w3-card w3-text-amber  mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a class="nav-link  w3-hover-text-amber " href="{% url 'contactk' %}">
            <i class="fas fa-user-plus"></i> Contact</a>
        </li>
        {% if user.is_staff %}
        <li
        {% if 'admin' in request.path %}
          class="nav-item active w3-card w3-text-amber  mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a class="nav-link  w3-hover-text-amber " href="http://localhost:8000/admin/">
            <i class="fas">&#xf84c;</i> Office</a>
        </li>
    {% endif %}
   </ul>
        <ul class="navbar-nav ml-auto">

       
         
         
  
          {% if user.is_authenticated %}

            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active w3-card w3-text-amber  mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link w3-round w3-hover-text-amber   " href="{% url 'dashboard' %}">
               Welcome {{ user.username }} (Dashboard)</a>
            </li>
 

            <li class="nav-item w3-hover-text-red w3-text-amber   mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link w3-text-amber">
                <i class="fas fa-sign-out-alt"></i> Signout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>

            
          {% else %}

          <li
          {% if 'register' in request.path %}
            class="nav-item active  w3-text-amber   w3-card mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link w3-hover-text-amber" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Sign up</a>
          </li>

            <li
            {% if 'login' in request.path %}
              class="nav-item active w3-card  w3-text-amber  mr-3"
            {% else %}
              class="nav-item mr-3 "
            {% endif %}
            >
              <a class="nav-link    w3-hover-text-amber" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i> Sign In</a>
            </li>
            
          {% endif %}

          
        </ul>

    </div>
  </nav>        
 

