

      <!--business in town-->
      {% for business in town.business_set.all %}
      <div   class="w3-container  w3-card w3-hide-small {{business.border_color}} w3-border w3-hover-shadow w3-white w3-round w3-margin-top"><br>
        <a href="{{ business.get_absolute_url }}">
        <img src="{{business.logo.url}}" alt="Avatar" class="w3-left w3-hide-small w3-margin-right" style="width:80px">
        </a>
        <h4 class=" w3-hide-small w3-center  {{business.text_color}}">
            <a href="{{ business.get_absolute_url }}">
              {{business|upper}} | {{business.business_type|upper}}
            </a>  
          <div class="w3-center">
            <span class="w3-small w3-center w3-text-grey "><strong>Our Plot Locations:</strong></span><br>
            {% for location in business.location.all %}
            
              <span class="w3-small w3-text-grey"><span class="{{business.text_color}} w3-small">#</span>{{location}}</span>
              {% if not forloop.last %}{% endif %}
            {% endfor %}
          </div>
        </h4>
  
        <!--locations where plots are in the business-->
        <div class="w3-hide-small">
          {% include 'towns/_plotsinbusiness.html'   %}
        </div>
            <span class="w3-left w3-small w3-hide-small  w3-hover-text-green btn "> 
                {% if business.cp_img %}
                  <img src="{{business.cp_img.url}}" alt=""  class="w3-circle w3-card-4" style="width:30px; height:30px;">
                {% endif %}
            </span>
          <span class=" w3-left w3-small  w3-hide-small w3-hover-text-green  btn">{{business.contact_person}} | {{business.cp_phone_1}} | {{business.cp_email_1}}</span> 
          <span class="w3-right btn"><a href="{{ business.get_absolute_url }}"><i class='fas fa-eye w3-xlarge  w3-right w3-hover-text-green {{business.text_color}}'></i></a></span>
        </div>
        {% endfor %}