<!--Section Title-->
<style>
    div.dego {
        display: inline-block;
        width: 100%;
        height: 110px;
        /*margin: 10px;*/
        --aug-border: 5px;
        --aug-inset: 5px;
        padding: 10px; /* mind the gap */
        text-align: center;
        /*--aug-border-bg: gold;
        --aug-inset-bg: gold;*/
    }
    div.dego2 {
        --aug-t-origin-x: 75%;
        --aug-tl: 25px;
        --aug-inset: 2px;
        --aug-border: 2px;
    }
    
    div.dego3 {
        --aug-l-origin-y: 75%;
        --aug-t-rect: 50px;
        /*--aug-tr: 30px;
        --aug-tl: 30px;*/
        --aug-inset: 2px;
        --aug-border: 2px;
    }
</style>

<div augmented-ui="tr-clip tl-clip b-clip-x   exe"  class="dego dego3 dem2 bgimg_2 w3-container  w3-black w3-hover-opacity w3-card-4 w3-border w3-padding   w3-text-white w3-margin-top w3-leftbar w3-rightbar w3-border-green">
    <div class="">   
    <h3 class="w3-center " style="color:gold">KATATA</h3>
    <h4 class="w3-center">Redifining Real Estate Visibility</h4>
    </div>
        <br>
</div>