{% extends "base_generic.html" %}

{% block title %} |  {{town}} | Kiambu County {% endblock %}

{% block content %}
<!--css-->
{% include 'towns/_collapsiblecss.html' %}

<!-- Page Container -->
<section style="width:100%">   
  
<!--small view -->
{% include 'towns/_smallviewtown.html' %}

  <!-- The Grid -->
  <div class="w3-row-padding">
    <div class="w3-col l12 w3-margin-bottom w3-border w3-hide w3-white">
      <span class="w3-center"><i class='fas   w3-xlarge w3-hide w3-text-red fa-business btn'></i></span>
      <span class="w3-center"><i class='fas  w3-xlarge w3-hide w3-text-green fa-mosque btn'></i></span>
      <span class="w3-center"><i class='fas  w3-xlarge w3-hide w3-text-orange fas fa-om fa btn'></i></span>
      <span class="w3-center"><i class='fas fa-ambulance  w3-hide w3-xlarge w3-text-red btn'></i></span>
      <span class="w3-center"><i class='fas  w3-xlarge w3-hide w3-text-blue fa-school btn'></i></span>
      <span class="w3-center"><i class='fas  fa-building w3-hide w3-xlarge w3-text-light-green btn'></i></span>
      <span class="w3-center"><i class='fas fa-vector-square w3-xlarge w3-text-brown btn'></i></span>
      <span class="w3-center"><i class='fas fa-broadcast-tower w3-hide w3-xlarge w3-text-grey btn'></i></span>
      <span class="w3-center"><i class='fas fa-car w3-xlarge w3-hide w3-text-purple btn'></i></span>
      <span class="w3-center"><i class='fas fa-bus-alt w3-hide w3-xlarge w3-text-green btn'></i></span>
      <span class="w3-center"><i class='fas fa-motorcycle w3-hide w3-xlarge w3-text-dark-grey btn'></i></span>
      <span class="w3-center"><i class='fas fa-wrench w3-hide w3-xlarge w3-text-blue btn'></i></span>
      <span class="w3-center"><i class='fas fa-truck-moving w3-hide w3-xlarge w3-text-black btn'></i></span>
      <span class="w3-center"><i class='fas fa-fire w3-xlarge w3-hide w3-text-amber btn'></i></span>
      <span class="w3-center"><i class='fas fa-dog w3-xlarge w3-hide w3-text-brown btn'></i></span>
     </div>

    <!-- Left Column -->
    <div class="w3-col m3  w3-hide-small">
      <!-- Profile -->
      <div class="w3-card w3-round w3-hide-small w3-white">
        <div class="w3-container">
         <h4 class="w3-center w3-text-black">{{town.county}} County</h4>
         <h6 class="w3-center w3-text-emerald">{{town}} Town</h6>
         <p class="w3-center "><img src="{{ town.county_flag_pic.url }}" class="w3-border" style="padding:5px; height:156px; width:100%px" alt="Avatar"></p>

         <hr>

        </div>
      </div>
      <br>
      {% if user.is_authenticated %}  
      <div class="w3-round w3-hide-large  w3-center">

        <div class="w3-hide">
          <span class="w3-center w3-border btn  w3-padding">
            <i class="fas fa-pin w3-text-red"></i>
            Hi
                {% if user.first_name %}
                   {{user.first_name}}
                {% else %}
                    {{user.username }}
                {% endif %}
            
                <br>
          {% if user.profile.image %}
          <span class=""><img src="{{user.profile.image.url}}" class="w3-circle w3-card-4 w3-border w3-border-white" style="height:70px;width:70px" alt="Avatar"></span>
          {% endif %}
        </span>
          
        </div>
      </div>
      {% endif %}
      <br>
      
      <!--Collapsible small view about town-->
      <div class="w3-hide-small">
       
      <br>
    </div>

      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">About Ruiru</span>
            <span class="w3-tag w3-small w3-theme-d4"></span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7 w3-margin-bottom w3-hide-small">
          <div class="w3-card w3-round">
                    <div class=" w3-display-container">
                        <img src="{{ town.town_pic.url }}" class="w3-border  w3-border-brown w3-hide-small  w3-khaki w3-topbar w3-bottombar w3-leftbar w3-rightbar " alt="" style="padding:9px; width: 100%; height: 50vh;">
                        <div class="w3-display-bottommiddle" style="width: 98%;">
                            <h3 class="w3-xlarge w3-theme-d5 w3-hide-small w3-center  w3-border w3-border-khaki w3-text-white w3-opacity  w3-padding  w3-margin-bottom" style="width:100%">
                                WELCOME TO
                                {{ town|upper}} </h3>  
          </div>
        </div>

      </div>
  
    <!--Section Title-->
    {% include 'towns/_sectiontitle.html' %}

  

  <!--business in town --->
  {% for business in town.business_set.all %}
    <div class="w3-container w3-card w3-hide-small w3-hover-shadow w3-white w3-round w3-margin-top"><br>
      <a href="{{ business.get_absolute_url }}">
      <img src="{{business.logo.url}}" alt="Avatar" class="w3-left w3-hide-small w3-margin-right" style="width:80px">
      </a>
      <h4 class=" w3-hide-small w3-center  {{business.text_color}}">
          <a href="{{ business.get_absolute_url }}">
            {{business|upper}} | {{business.business_type|upper}}
          </a>  
        <div class="w3-center">
          <span class="w3-small w3-center w3-text-grey "><strong>Our Plot Locations:</strong></span><br>
          {% for location in business.location.all %}
          
            <span class="w3-small w3-text-grey"><span class="{{business.text_color}} w3-small">#</span>{{location}}</span>
            {% if not forloop.last %}{% endif %}
          {% endfor %}
        </div>
      </h4>

      <!--locations where plots are in the business-->
      <div class="w3-hide-small">
        {% include 'towns/_plotsinbusiness.html'   %}
      </div>
          <span class="w3-left w3-small w3-hide-small  w3-hover-text-green btn "> 
              {% if business.cp_img %}
                <img src="{{business.cp_img.url}}" alt=""  class="w3-circle w3-card-4" style="width:30px; height:30px;">
              {% endif %}
          </span>
        <span class=" w3-left w3-small  w3-hide-small w3-hover-text-green  btn">{{business.contact_person}} | {{business.cp_phone_1}} | {{business.cp_email_1}}</span> 
        <span class="w3-right btn"><a href="{{ business.get_absolute_url }}"><i class='fas fa-eye w3-xlarge  w3-right w3-hover-text-green {{business.text_color}}'></i></a></span>
      </div>
      {% endfor %}
      
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2 w3-hide-small ">
      {% if user.is_authenticated %}
      <div class="w3-card w3-round w3-hide-small  w3-white w3-center">
        <div class="w3-container">
          <p></p>
          {% if user.profile.image %}
          <p class="w3-center"><img src="{{user.profile.image.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
          {% endif %}
        
          <p><strong>Hi</strong> {{user.first_name}}</p>
          <p><button class="w3-button w3-block w3-theme-l4">profile</button></p>
        </div>
      </div>
      {% endif %}
      <br>
      
      <div class="w3-card w3-round w3-white w3-hide w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-hide w3-center">
        <p>ADS</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</section>
<br>


 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>



<div class="w3-padding w3-hide row ">
    <div class=" w3-display-container">
        <img src="{{ town.town_pic.url }}" class="w3-border  w3-border-brown  w3-khaki w3-topbar w3-bottombar w3-leftbar w3-rightbar " alt="" style="padding:9px; width: 100%; height: 50vh;">
        <div class="w3-display-bottommiddle" style="width: 93%;">
                <h3 class="w3-small w3-theme-d5 w3-hide-large w3-hide-medium w3-center w3-border w3-border-khaki w3-text-white w3-opacity  w3-padding  w3-margin-bottom" style="width:100%">
                    WELCOME TO
                    {{ town|upper}} </h3>
        </div>
        <div class="w3-display-bottommiddle" style="width: 98%;">
            <h3 class="w3-xlarge w3-theme-d5 w3-hide-small w3-center  w3-border w3-border-khaki w3-text-white w3-opacity  w3-padding  w3-margin-bottom" style="width:100%">
                WELCOME TO
                {{ town|upper}} </h3>  
        </div>
    </div>
</div>





</div>
</div>

<!--js-->

{% endblock %}