{% extends "base_generic.html" %}

{% block title %} |  {{town}} | Kiambu County {% endblock %}

{% block content %}
<!--css-->
{% include 'towns/_collapsiblecss.html' %}

<!-- Page Container -->
<section style="width:100%">   
    <!-- The Grid -->
    <div class="w3-row-padding">
      <div class="w3-col l12 w3-margin-bottom w3-border  w3-white">
        <span class="w3-center"><i class='fas   w3-xlarge  w3-text-red fa-business btn'></i></span>
        <span class="w3-center"><i class='fas  w3-xlarge  w3-text-green fa-mosque btn'></i></span>
        <span class="w3-center"><i class='fas  w3-xlarge  w3-text-orange fas fa-om fa btn'></i></span>
        <span class="w3-center"><i class='fas fa-ambulance   w3-xlarge w3-text-red btn'></i></span>
        <span class="w3-center"><i class='fas  w3-xlarge  w3-text-blue fa-school btn'></i></span>
        <span class="w3-center"><i class='fas  fa-building  w3-xlarge w3-text-light-green btn'></i></span>
        <span class="w3-center"><i class='fas fa-vector-square w3-xlarge w3-text-brown btn'></i></span>
        <span class="w3-center"><i class='fas fa-broadcast-tower  w3-xlarge w3-text-grey btn'></i></span>
        <span class="w3-center"><i class='fas fa-car w3-xlarge  w3-text-purple btn'></i></span>
        <span class="w3-center"><i class='fas fa-bus-alt  w3-xlarge w3-text-green btn'></i></span>
        <span class="w3-center"><i class='fas fa-motorcycle  w3-xlarge w3-text-dark-grey btn'></i></span>
        <span class="w3-center"><i class='fas fa-wrench  w3-xlarge w3-text-blue btn'></i></span>
        <span class="w3-center"><i class='fas fa-truck-moving  w3-xlarge w3-text-black btn'></i></span>
        <span class="w3-center"><i class='fas fa-fire w3-xlarge  w3-text-amber btn'></i></span>
        <span class="w3-center"><i class='fas fa-dog w3-xlarge  w3-text-brown btn'></i></span>
       </div>
<!--small view -->
{% include 'towns/_smallviewtown.html' %}


<div class="w3-row-padding w3-hide-small">
    <div class="w3-col l7">
      <!--Section Title-->
      {% include 'towns/_sectiontitle.html' %}

      <!--Business-->
      {% include 'towns/_businessintown.html'%}
    </div>

    <!--about town-->
    <div class="w3-col l5">
        {% include 'towns/_abouttown.html' %}
    </div>
</div>
  






      {% if user.is_authenticated %}  
      <div class="w3-round w3-hide  w3-center">

        <div class="w3-hide">
          <span class="w3-center w3-border btn  w3-padding">
            <i class="fas fa-pin w3-text-red"></i>
            Hi
                {% if user.first_name %}
                   {{user.first_name}}
                {% else %}
                    {{user.username }}
                {% endif %}
            
                <br>
          {% if user.profile.image %}
          <span class=""><img src="{{user.profile.image.url}}" class="w3-circle w3-card-4 w3-border w3-border-white" style="height:70px;width:70px" alt="Avatar"></span>
          {% endif %}
        </span>
          
        </div>
      </div>
      {% endif %}
     
 

  
<!-- End Page Container -->
</section>
<br>




</div>
</div>

<!--js-->

{% endblock %}