{% extends "base_generic.html" %}

{% block content %}

<div class="w3-container">
    <h2 class="w3-margin-left">Towns You Can Find Plots In</h2>
    <div class="col-sm-12 w3-padding container">
      <div style="width:295px">     
      <input class="w3-input w3-yellow col-sm-11 w3-border w3-padding" type="text" placeholder="Search for names.." id="myInput" onkeyup="myFunction()">
    </div>
    </div> 
    <br>
    {% if town_list %}
    <ul class="w3-ul w3-margin-top" id="myUL">  
 
      {% for town in town_list %}
      <li class="col-sm-3 btn w3-hover-yellow w3-hover-shadow w3-white w3-large w3-border w3-margin-left w3-margin-bottom w3-text">   
        <a href="{{ town.get_absolute_url|capfirst }}"><span class="w3-text-black ">{{ town.name }}</span></a> 
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no towns.</p>
    {% endif %}      
  </div> 


  <script>
    function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        txtValue = li[i].textContent || li[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
    

{% endblock %}