{% extends "base_generic.html" %}

{% block content %}
<!--style-->
{% include 'partials/companies/_cocardscss.html' %}
{% include 'partials/realtors/_realtorcss.html' %}

<h1 class="w3-jumbo w3-margin w3-padding w3-theme-l5">{{ town }} </h1>


<div class="w3-container ">
    <div class="w3-margin-bottom col-sm-8 container">
        <h3><strong class="w3-text-theme ">Areas to find Plots In {{town}}</strong></h3><br>
        <div class="row">
            {% for location in town.location.all %}
                <div class="col-sm-2 btn w3-margin-left w3-bar-item w3-large w3-border-black w3-hover-yellow w3-white   w3-tag">
                    <a href="{{ location.get_absolute_url }}"><span class="w3-text-black">{{location|capfirst}}</span></a> 
                </div> 
            {% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
    </div>
   </div>
<!--Plots-->
<div class="w3-container ">
<div class="row">
    <div class="w3-margin-bottom col-sm-4 container">
        <h3 class="w3-center"><strong class="w3-text-theme">Plots In {{town}}</strong> </h3>
        <ul class="row w3-text-black" style="list-style-type: none;">
            {% for plot in town.plot_set.all %}
                <li>
                    {% include 'partials/plots/_ploti.html' %}
                </li>
            {% endfor %}
        </ul>
    </div>
  

<!--Company-->
    <div class="w3-margin-bottom col-sm-3">
        <h3 class="w3-center"><strong class="w3-text-theme ">Plot Companies in <br>{{town}}</strong></h3>
        <div class="row w3-margin-left">
            {% for company in town.company_set.all %}
              {% include 'partials/companies/_cocards.html' %}
            {% endfor %}
        </div>         
    </div>

<!--Realtor-->
    <div class="w3-margin-bottom col-sm-4" >
        <h3 class="w3-center"><strong class="w3-text-theme">Plots Realtors in {{town}}</strong></h3>
        <ul class="row" style="list-style-type: none;">
            {% for realtor in town.realtor_set.all %}
            <!-- realtor Profile -->
            <li>
            {% include 'partials/realtors/_realtor.html' %}
            </li>
            <br>
            {% endfor %}  
        </div>          
    </div>
</div>
</div>

<!--js-->
{% include 'partials/companies/_cocardsextra.html' %}

{% endblock %}