{% load static %}

   
          <input class="w3-input  col-sm-12 w3-hover-border-theme w3-padding" type="text" placeholder="Search towns..." id="myInput" onkeyup="myFunction()" >
          
      
              
              {% if towns %}
              <ol class="row " id="myUL">
                {% for town in towns %}
                <li class="dropdown-item col-sm ">
                  <a href="{{ town.get_absolute_url }}">
                    <span class=" w3-hover-text-green  w3-text-black  "  style="width:150px; margin:5px;">{{ town.name|capfirst }}</span></a>
                  </li>
                
              
                {% endfor %}
              </ol>
          
              {% else %}
                <p>There are no towns.</p>
              {% endif %}
      
         
        
        

  
    <script>
        function myFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        </script>     
  