{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="bgimg_6">
  

<style>
  div.demox {
        display: inline-block;
        width: 100%;
        height: 125px;
        margin: 10px;
        --aug-border: 5px;
        --aug-inset: 5px;
        padding: 10px; /* mind the gap */
        text-align: center;
        --aug-border-bg: teal;
        --aug-inset-bg: teal;
        color: white;
        text-shadow: 8px 8px 16px #630f0f;
        
    }

 div.demo {
        display: inline-block;
        width: 100%;
        height: 115px;
        margin: 10px;
        --aug-border: 5px;
        --aug-inset: 5px;
        padding: 10px; /* mind the gap */
        text-align: center;
        --aug-border-bg: #a20025;
        --aug-inset-bg: #a20025;
    }
    div.demo0 {
        --aug-tr-height: 30%;
    }

    div.demo1 {
        --aug-tr-height: 30%;
        --aug-border-radius-fallback-inset: 30px 0px 7px 0px;
    }

    a:link {
      text-decoration: none;
    }
</style>


<div class="bgimg_5">
  {% if user.is_authenticated %}
  {% if classes %}
    <div class="w3-margin-right">
    <div class="w3-container"  style="list-style-type: none;" > 

      {% for class in classes %}
      {% for account in class.account.all %}
      {% if account.accountname == user %}
     <center>
      
      <div augmented-ui="tl-clip-y bl-clip-y tr-clip-y br-clip-y   exe" 
      class="demox demo1 bgimg_6 w3-hide-small w3-border-bottom w3-border-white w3-padding-large w3-round 
      w3-hover-shadow  w3-hover-text-amber w3-border-red" >
      <a class="w3-wide w3-xxxlarge w3-hover-text-amber" href="{{class.get_absolute_url}}" 
      >
        <strong> Click To Enter {{account.user_class}} </strong> <span class="w3-hide">{{account}}</span><br>
      
      </a>
    </div>

     <div augmented-ui="tl-clip-y bl-clip-y tr-clip-y br-clip-y   exe" 
     class="demo demo1 w3-hide-medium w3-hide-large w3-border-bottom w3-border-white  w3-round 
     w3-hover-shadow w3-padding-large w3-xxxlarge w3-crimson w3-border-red" 
      <a href="{{class.get_absolute_url}}">
       Welcome To {{account.user_class}} <span class="w3-hide">{{account}}</span><br>
       
      </a>
    </div>
    </center>
    {% endif %}
     {% if not forloop.last %}{% endif %}
     {% endfor %}
      {% endfor %}
    </div>
  
      {% else %}
        <p>There are no classes.</p>
    </div>
  {% endif %}
  {% else %}
  <a href="{% url 'login' %}" class="w3-panel w3-xlarge w3-text-emerald w3-center btn " style="width:100%">Sign In To Proceed To Classroom</a>
  {% endif %}
  </div>

</section>
<section class="w3-padding-large">
  <div   class="w3-container w3-opacity-min w3-white w3-padding-64">
  <blockquote class=" w3-margin w3-xlarge  ">
    “Aim for success, not perfection. Never give up your right to be wrong, because then you will lose the ability to learn new things and move forward with your life. Remember that fear always lurks behind perfectionism.”
<b class="">
  <i>David M. Burns</i>
  </b>
  </blockquote>
</div>
</section>

{% endblock %}
