{% extends "base_company.html" %}
{% load static %}
{% load humanize %}

<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>

{% block content %}

{% include 'partials/plots/_plotcss.html' %}
<!-- Top menu -->
<div class="w3-top {{listing.bg_color}}">


    <div class="w3-row w3-padding w3-hide-small w3-large">
        <div class="w3-col s4">
            <a class="w3-button w3-block w3-card-4 {{listing.hover_color}} w3-border {{listing.border_color}} w3-hover-border-white w3-hover-text-white " href="{% url 'business-detail' listing.business.pk  %}" style="text-decoration:none;"><i class="fas fa-chevron-left "></i> {{ listing.business|upper }}</a>
          </div>
          <div class="w3-col s2">
            <a href="#" class="w3-button  {{listing.hover_color}}  w3-block"></a>
          </div>
        <div class="w3-col s2">
          <a href="#" class="w3-button  w3-block">Top</a>
        </div>

        <div class="w3-col s2">
          <a href="#about" class="w3-button w3-block">About</a>
        </div>
        <div class="w3-col s2">
          <a href="#contact" class="w3-button w3-block">Contact</a>
        </div>

      </div>
      <div class="w3-row w3-padding w3-hide-large w3-hide-medium w3-small">
        <div class="w3-col s4">
            <a class="w3-button w3-block w3-card-4 {{listing.hover_color}} w3-border {{listing.border_color}} w3-hover-border-white w3-hover-text-white " href="{% url 'business-detail' listing.business.pk  %}" style="text-decoration:none;"><i class="fas fa-chevron-left "></i> {{ listing.business|upper }}</a>
          </div>

        <div class="w3-col s2">
          <a href="#" class="w3-button  w3-block">Top</a>
        </div>

        <div class="w3-col s2">
          <a href="#about" class="w3-button w3-block">About</a>
        </div>
        <div class="w3-col s3">
          <a href="#contact" class="w3-button w3-block">Contact</a>
        </div>

      </div>
  </div>



<!-- Content -->
<div class="w3-content " style="max-width:1100px;margin-top:100px;margin-bottom:80px">

  <div class="w3-panel">
    <h1 class="{{listing.text_color}} w3-xlarge w3-center">{{listing.title|upper}}</h1>
    <a href="{{broker.get_absolute_url}}">
        <h4 class="w3-block w3-hover-white w3-border w3-center {{listing.border_color}} w3-hover-shadow w3-button {{listing.bg_color}}">
           {% if listing.broker.profile %}
            <span><img src="{{ listing.broker.profile.url}}" class="w3-circle" alt="{{listing.broker}}" style="width:40px; height:40px;"></span>
            {% endif %}
            <span>{{listing.broker.first_name|capfirst}} | {{listing.broker.phone}}</span>
            <span class="w3-small w3-hide-small {{listing.text_color}}">View More About {{listing.broker|capfirst}} Here</span>
        </h4></a>
  </div>

  <!-- Slideshow -->
  <div class="w3-container">
    {% if listing.business.service_pic %}  
    {% if listing.plot_video %}
    <div class="w3-display-container mySlides">
        <video controls width="100%" poster="{{ listing.business.service_pic.url }}"> 
            <source src="{{listing.plot_video.url}}" style="height:400px; width:100%">
               <source src="video.mp4#t=0.01" type="video/mp4">
                <source src="video.ogg" type="video/ogg">
                <source src="video.webm" type="video/webm">
                <object data="video.mp4" width="400" height="400">
                <embed src="video.swf" width="400" height="400">
                </object>S
                Your browser does not support the video tag.
            </video>
        <div class="w3-display-left w3-container w3-padding-32">
          <span class="w3-white w3-padding-large w3-opacity-min w3-hide  w3-animate-bottom">Pics Next</span>
        </div>
      </div>
    {% endif %}
    {% endif %}


    {% if listing.photo_1 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_1.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-middle w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span>
      </div>
    </div>
    {% endif %}

    {% if listing.photo_2 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_3.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-topleft w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
      </div>
    </div>
    {% endif %}

    {% if listing.photo_3 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_3.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-topleft w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
      </div>
    </div>
    {% endif %}

    {% if listing.photo_4 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_4.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-topleft w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
      </div>
    </div>
    {% endif %}

    {% if listing.photo_5 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_5.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-topleft w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
      </div>
    </div>
    {% endif %}

    {% if listing.photo_6 %}
    <div class="w3-display-container mySlides">
      <img src="{{listing.photo_6.url}}"  style="width:100%; height:400px;">
      <div class="w3-display-topleft w3-hide  w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
      </div>
    </div>
    {% endif %}



    <!-- Slideshow next/previous buttons -->
    <div class="w3-container {{listing.bg_color}} w3-padding w3-xlarge">
      <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-circle w3-card-4  w3-text-black w3-hover-text-white"></i></div>
      <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-circle w3-card-4  w3-text-black w3-hover-text-white"></i></div>
    
      <div class="w3-center">
        <span class="w3-tag demodots w3-border w3-card-4 btn w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-tag demodots w3-border w3-card-4 btn w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-tag demodots w3-border w3-card-4 btn w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-tag demodots w3-border w3-card-4  btn w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-tag demodots w3-border w3-card-4  btn w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-tag demodots w3-border w3-card-4  btn w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
        <span class="w3-tag demodots w3-border w3-card-4  btn w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>

      </div>
    </div>
  </div>
  
  <!-- Grid -->
  <div class="w3-row w3-container" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar  {{listing.border_color}}  w3-padding-16">About This Plot</span>
    </div>
    <!-- About this plot -->
<div class="row ">
<div class="col-sm-6 w3-margin-bottom">
  <div class="w3-content" style="width:100%">
    <table class="w3-table  w3-striped">
      <tr>
        <th class="w3-center {{listing.text_color}}">#</th>
        <th class="w3-center {{listing.text_color}}">Detail</th>
   
      </tr>
      <tr>
        <td class="{{listing.text_color}}">Plot Address</td>
     
        <td class="w3-left w3-margin-left">{{listing.town}}; {{listing.location}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot Status</td>
     
        <td class="w3-left w3-margin-left w3-text-amber">{{listing.plot_status}}</td>
      </tr>
      <tr>
        <td class="{{listing.text_color}}">Plot Size</td>
     
        <td class="w3-left w3-margin-left w3-text-blue">{{listing.plot_size}}</td>
      </tr>
      <tr>
        <td class="{{listing.text_color}}">Plot Type</td>
     
        <td class="w3-left w3-margin-left">{{listing.plot_type}}</td>
      </tr> 
      <tr>
        <td class="{{listing.text_color}}">Plot Price</td>
     
        <td class="w3-left w3-margin-left w3-text-green" w3-margin-left>{{listing.price}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot Payment plan</td>
     
        <td class="w3-left w3-margin-left">{{listing.payment_plan|intcomma}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot Water Access</td>
     
        <td class="w3-left w3-margin-left">{{listing.water}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot Electricity Access</td>
     
        <td class="w3-left w3-margin-left">{{listing.electricity}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot Area Population</td>
     
        <td class="w3-left w3-margin-left">{{listing.population}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot neigbours</td>
     
        <td class="w3-left w3-margin-left">{{listing.neighbor}}</td>
      </tr>  
      <tr>
        <td class="{{listing.text_color}}">Plot development</td>
     
        <td class="w3-left w3-margin-left">{{listing.development}}</td>
      </tr>  

    </table>
  </div>
  </div>

  <div class="col-sm-6">
      <div class="">
       
            {% if listing.broker.profile %}
            <div>
                <a href="{{broker.get_absolute.url}}"><img src="{{ listing.broker.profile.url }}" class="w3-hover-sepia w3-hide-small w3-border {{listing.bg_color}}  w3-card-4 " data-placement="bottom" title="View More  Details" style="height:420px; width:100%; padding:15px"></a>

                <a href="{{broker.get_absolute.url}}"><img src="{{ listing.broker.profile.url }}" class="w3-hover-sepia w3-hide-large w3-hide-medium w3-border {{listing.bg_color}}  w3-card-4 " data-placement="bottom" title="View More  Details" style="height:320px; width:100%; padding:15px"></a>
            <br>
            <div class="row w3-margin-top w3-large">
                <span class="w3-blue col-sm w3-center"><i class=""></i>{{listing.broker.first_name}},{{listing.broker.last_name}}</span>
                <span class="col-sm w3-amber w3-card-4 w3-center"><i class=""></i>{{listing.broker.phone}}</span>
                <span class=" col-sm w3-green w3-center"><i class=""></i>{{listing.broker.email}}</span>
            </div>
            </div>
            {% endif %}
            

      </div>

  </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
      <h2 class="w3-xlarge">Plot Description</h2>
      <p>About Plot In Detail.</p>
    </div>
<div class="w3-content">
    {{listing.description|safe}}
</div>

  </div>

 

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-center" id="contact">
        <div class="w3-center w3-hide-small w3-margin-bottom">
            {% if listing.broker.profile.url %}
            <span><img src="{{ listing.broker.profile.url}}" class="w3-circle" alt="{{listing.broker}}" style="width:70px; height:70px;"></span>
            {% endif %}
            <span class="w3-xxlarge w3-bottombar {{listing.border_color}} w3-padding-16">Contact {{listing.broker}}</span>
      </div>
    
      <div class="w3-center  w3-hide-large w3-hide-medium w3-margin-bottom">
        {% if listing.broker.profile %}
        <span><img src="{{ listing.broker.profile.url}}" class="w3-circle" alt="{{listing.broker}}" style="width:70px; height:70px;"></span>
        {% endif %}
        <span class="w3-large w3-bottombar {{listing.border_color}} w3-padding-16">Contact {{listing.broker}}</span>
      </div>
    
  <a href="#" class="w3-button {{listing.bg_color}} w3-margin">To the top</a>
  <div class="w3-xlarge w3-section row">
    <span class="w3-margin-bottom col-sm w3-blue w3-large w3-button w3-hover-blue" width="150px" ><i class=""></i>{{listing.broker.first_name}},{{listing.broker.last_name}}</span>
    <span class="w3-margin-bottom col-sm w3-amber w3-large w3-button w3-hover-amber" width="150px"><i class=""></i>{{listing.broker.phone}}</span>
    <span class="w3-margin-bottom col-sm w3-green w3-large w3-button w3-hover-green" width="150px"><i class=""></i>{{listing.broker.email}}</span>
    </div>
    <br>



  <div class="row">
  

    <div class="col-sm-3 w3-right w3-text-emerald">
      <h4>Katata links</h4>
      <div class="w3-text-grey">
        <div class="w3-large">
          <span >
            <a href="{% url 'index' %}" class="w3-large">KATATA</a> 
          </span>
          |
          <span> 
            <a href="{% url 'business-list' %" class="w3-large">COMPANYS</a>
          </span>        
        </div>
      </div>
    </div>

    <div class="col-sm-9 {{listing.text_color}} ">
      <h4>{{listing}} Address</h4>
      <div class="w3-text-grey">
      <button class="btn w3-border"><i class="fa fa-fw fa-map-marker {{listing.text_color}} "></i> {{listing.business.town.name}} {{listing.business.location.name}} </button>
      <button class="btn w3-border"><i class="fa fa-fw fa-phone {{listing.text_color}} "></i> {{listing.business.phone_1}} | {{listing.business.phone_2}}</button>
      <button class="btn w3-border"><i class="fa fa-fw fa-envelope {{listing.text_color}} "></i> {{listing.business.email_1}}</button>
    </div>
      <br>
      <div class="w3-xlarge">
          <span><a href=""><i class="fa fa-facebook-official {{listing.text_color}}  w3-hover-opacity"></i></a></span>
          <span><a href=""><i class="fa fa-instagram {{listing.text_color}}  w3-hover-opacity"></i></a></span>
          <span><a href=""><i class="fa fa-twitter {{listing.text_color}} w3-hover-opacity"></i></a></span>
          <span><a href=""><i class="fa fa-linkedin {{listing.text_color}}  w3-hover-opacity"></i></a></span>
        </div>
    </div>

    </div>
  </div>

</footer>
<div class="{{listing.business.bg_color}}  w3-text-khak w3-center w3-padding-24">Powered by <a href="{% url 'index' %}" title="W3.CSS" target="_blank" class="w3-hover-opacity w3-text-khaki w3-small">KATATA</a></div>
<!--footer-->



<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>


{% endblock %}
