<div class="w3-container">
    <h3 class="w3-center {{business.text_color}}">ABOUT</h3>
    <p class="w3-center w3-large">Key features of our business</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter wow fadeInUp" data-wow-duration="1.5s">
        <i class="fa fa-desktop {{business.text_color}}  w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large ">{{business.f_title1}}</p>
        <p>{{business.features_1}}</p>
      </div>
      <div class="w3-quarter wow fadeInUp" data-wow-duration="1.5s">
        <i class="fa fa-heart {{business.text_color}} w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large ">{{business.f_title2}}</p>
        <p>{{business.features_2}}</p>
      </div>
      <div class="w3-quarter wow fadeInUp" data-wow-duration="1.5s">
        <i class="fa fa-diamond {{business.text_color}}  w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large ">{{business.f_title3}}</p>
        <p>{{business.features_3}}</p>
      </div>
      <div class="w3-quarter wow fadeInUp" data-wow-duration="1.5s">
        <i class="fa fa-cog {{business.text_color}}  w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large ">{{business.f_title4}}</p>
        <p>{{business.features_4}}</p>
      </div>
    </div>
  </div>