{% load static %}
{% if business_list %}
<ul class=" w3-margin-top w3-row-padding w3-content "  style="list-style-type: none;" id="myUL">  
    {% for business in business_list %} 
    <li class="w3-col l4">
      <a href="{{ business.get_absolute_url }}">
        <div class="btn w3-border {{business.hover_border_color}}  w3-white w3-large w3-padding  w3-hover-shadow  w3-text-black" style="width:292px; margin:5px; padding:5px 3px;">
          <div class="" style="width:35%; float:left">
            <img src="{{ business.logo.url }}" alt="" class="w3-white    " style="width: 80px; height:60px;">
          </div>
          <div class="" style="width:60%; float:right">
            <span class="w3-large w3-wide {{business.text_color }}">{{ business.business_name }}</span>
            <br> <span class="w3-small">{{business.business_type}}</span>
            <span class="w3-small">[ {{business.town}} ]</span>
            <span class="w3-small w3-hide w3-right">reviews</span>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
</ul>
      
  {% else %}
      <p>There are no businesss available.</p>
  {% endif %}