{% load static %}
<div class-="{% if business.bgimg_3 %} {{business.bg_color}} {% endif %} w3-text-white w3-opacity-min">

</div>
<div class="container w3-opacity-min {{business.bg_color}}">
  <br>
  <h1 class="w3-xxlarge w3-center">CONTACT</h1> 
  <p class="w3-center w3-text-white">send us a message we would love to hear from you <br>or<br>
    CALL US ON <br> {{business.phone_1}} /  {{business.phone_2}}
  </p>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="business_email" value="{{ business.email }}">
            <input type="hidden" name="business_id" value="{{ business.id }}">
            
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="business_name" class="col-form-label">business:</label>
                                    <input type="text" name="business" class="form-control" value="{{ business.business_name }}">
                                </div>
                                <div class="col-sm-12"> 
                                    <label for="name" class="col-form-label">First Name:</label>
                                    <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.username }}" {% endif %} required>
                                </div>

                                <div class="col-sm-12">
                                    <label for="phone" class="col-form-label">Phone:</label>
                                    <input type="text" name="phone" class="form-control">
                                </div>
                                <div class="col-sm-12"> 
                                    <label for="email" class="col-form-label">Email:</label>
                                    <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                                </div>
                            </div>
                        </div>
                    </div>
             
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">  
                                    <label for="header" class="col-form-label">Message heading:</label>
                                    <input type="text" name="header" class="form-control">
                                    <br>
                                    <label for="message" class="col-form-label">Message:</label>
                                    <textarea name="message" class="form-control" style="min-height:180px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

    
            <input type="submit" value="Send" class="btn btn-block w3-light-grey w3-hover-grey w3-large w3-hover-border-grey">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>