  
  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-text-grey w3-small w3-center w3-small" id="footer">

    <a href="{{business.absolute.u}}" class="w3-button w3-large w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

    <div class="row">
      <div class="col-sm-4  {{business.text_color}} ">
        <h4>{{business}} links</h4>
        <div class="w3-text-grey">
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px;"><a href="#plots" class="w3-small">Plots</a></span>
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px; "><a href="#about" class="w3-small">About us</a></span>
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px;"><a href="#services" class="w3-small">Services</a></span>
        <br>
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px;"><a href="#team" class="w3-small">Team</a></span>
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px;"><a href="#realtor" class="w3-small">Realtor</a></span>
        <span class="w3-button w3-border {{business.border_color}} {{business.text_color}}  btn" style="width: 100px; margin:2px;"><a href="#contact" class="w3-small">Contact</a></span>
        </div>
      </div>
     

      <div class="col-sm-4 w3-right w3-text-emerald">
        <h4>Katata links</h4>
        <div class="w3-text-grey">
          <div class="w3-large">
            <span >
              <a href="{% url 'index' %}" class="w3-large">KATATA</a> 
            </span>
            |
            <span> 
              <a href="{% url 'business-list' %" class="w3-large">COMPANYS</a>
            </span>        
          </div>
        </div>
      </div>

      <div class="col-sm-4 {{business.text_color}} ">
        <h4>{{business}} Address</h4>
        <div class="w3-text-grey">
        <p><i class="fa fa-fw fa-map-marker {{business.text_color}} "></i> {{business.town.name}} {{business.location.name}} </p>
        <p><i class="fa fa-fw fa-phone {{business.text_color}} "></i> {{business.phone_1}} / {{business.phone_2}}</p>
        <p><i class="fa fa-fw fa-envelope {{business.text_color}} "></i> {{business.email_1}}</p>
      </div>
        <br>
        <i class="fa fa-facebook-official {{business.text_color}} w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram {{business.text_color}} w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat {{business.text_color}} w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p {{business.text_color}} w3-hover-opacity w3-large"></i>
        <i class="fa fa-twitter {{business.text_color}} w3-hover-opacity w3-large"></i>
        <i class="fa fa-linkedin {{business.text_color}} w3-hover-opacity w3-large"></i>
      </div>

      </div>
    </div>
  </footer>
  <div class="{{business.bg_color}}  w3-text-khak w3-center w3-padding-24">Powered by <a href="{% url 'index' %}" title="W3.CSS" target="_blank" class="w3-hover-opacity w3-text-khaki w3-small">KATATA</a></div>