<style>
    body,h1,h2,h3,h4,h5,h6,p {font-family: "Lato", sans-serif;}
    body, html {
      
      color: #777;
      line-height: 1.8;
    }
    
    /* Create a Parallax Effect */
    .bgimg1, .bgimg2, .bgimg3 {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    /* First image (Logo. Full height) */
    .bgimg1 {
      {% if business.bgimg1 %}
      background-image: url('{{business.bgimg1.url}}');
      {% endif %}
    
    }
    
    /* Second image (Portfolio) */
    .bgimg2 {
      {% if business.bgimg2 %}
      background-image: url('{{business.bgimg2.url}}');
      {% endif %}

    }
    
    /* Third image (Contact) */
    .bgimg3 {
      {% if business.bgimg3 %}
      background-image: url('{{business.bgimg3.url}}');
      {% endif %}
    }
    
    .w3-wide {letter-spacing: 10px;}
    .w3-hover-opacity {cursor: pointer;}
    
    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1600px) {
      .bgimg1, .bgimg2, .bgimg3 {
        background-attachment: scroll;
    
      }
    }
    </style>