<h3 class="w3-center w3-text-white">SERVICES</h3>
<div class="w3-row section w3-padding "  id="services" style="margin-top:10px;" id="services">
  <br>
  <div class="w3-col l6 m6 ">
   
  <div class="w3-center w3-margin w3-text-white "> {{ business.services|safe }}</div><br>
  </div>
  
  <div class="w3-col l6 m6 ">
    <img src="{{ business.service_pic.url }}" class="w3-round w3-xxxlarge w3-image  w3-border-white w3-opacity-min " alt="Menu" style="padding:10px; width:100%; height:400px">
  </div>
</div>

<div class="w3-container" style="padding:64px 16px" >
  <h3 class="w3-center w3-text-white">HISTORY</h3>
  <p class="w3-center w3-text-white w3-large">How far we have come</p>
<div class="w3-row 4" id="history" style="margin-bottom:0px;">
  <div class="w3-col m6 w3-hide-small ">
   <img src="{{business.about_pic.url}}" class="w3-round w3-xxxlarge w3-image w3-border-white w3-opacity-min" alt="Table Setting" style="padding:10px; width:100%; height:400px;">
  </div>

  <div class="w3-col l6 m6">
   <div class="w3-margin w3-text-white" style="font-size: 14px;">
    {{business.about_business|safe}}
   </div>
  </div>
</div>
</div>