<!-- Top menu -->
<style>
    a:link {
    text-decoration: none;
  }
  </style>
  <div class="w3-top  {{business.bg_color}}" id="home">

    <div  style="max-width:100%; height:25px; margin: 4px;" >
        <div class="w3-button w3-hover-border-white{{business.bg_color}} w3-hover-shadow {{listing.hover_color}} {{business.hover_color}}  w3-left" onclick="w3_open()">
            
            <h1 class="w3-xlarge w3-text-white {{business.hover_color}}">☰</h1></div>

        <div class="w3-right w3-margin-left  "><h1 class="w3-large btn w3-card-4 w3-hover-border-white {{business.bg_color_2}} {{business.border_color}} w3-margin-right{{business.bg_color}}" style="margin-top: 5px;">
            <a class="w3-hover-text-white  w3-text-white" href="{{ business.get_absolute_url }} " style="text-decoration: none;">{{ business|upper }} </a></h1>
        </div> 
    </div>  
</div>