{% extends "base_company.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- css-->
{% include 'companys/_parallaxcss.html' %}
{% include 'companys/_brokercss.html' %}
{% include 'companys/_ploticss.html' %}
{% include 'companys/_headercss.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  a:link {
    text-decoration: none;
  }
</style>


<!--header-->
{% include 'companys/_sidebar.html' %}
{% include 'companys/_topbar.html' %}
{% include 'companys/_header.html' %}
<div id="home"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main " style="max-width:100%;" id="plots">

  <div class="w3-display-container w3-hide w3-hover-shadow" width="380px" height="250px">
   
    <iframe width="380px" height="300px" src="https://www.youtube.com/embed/zxjpRORoEmQ">
    </iframe>
  <span class="w3-display-right w3-margin  w3-padding  w3-theme-d5 w3-opacity-min ">What is Lapsett</span>
</div>


<!--business plots-->  
<section>
  {% include 'companys/_ploti.html' %}
</section>




  <!-- about  Section -->
<section class=" ">
  {% include 'companys/_about.html' %}
</section>


<!-- Team Section -->
<section class="w3-container" style="padding:64px 16px" id="team">
  {% include 'companys/_broker.html' %}
</section>


<!--Contact-->
<section 
class="w3-padding-64 bgimg_3" id="contact">
      {% include 'companys/_ccontact.html' %}
</section>

<!--footer-->
<section class="{{business.bg_color}}">
    {% include 'companys/_footer.html' %}
</section>

  <!-- End page content -->
</div>
</div>

<!--plots javascript-->
{% include 'companys/_plotijs.html' %}

  

  {% endblock %}
