
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {
    display:none;
    height:70vh;

}

</style>

<div class="w3-content w3-display-container">
{% if plot.photo_main %}
  <img class="mySlides" src="{{ plot.photo_main.url }}" style="width:100%">
{% endif %}
{% if plot.photo_1 %}
  <img class="mySlides" src="{{ plot.photo_1.url }}" style="width:100%">
{% endif %}
{% if plot.photo_2 %}
  <img class="mySlides" src="{{ plot.photo_2.url }}" style="width:100%">
{% endif %}
{% if plot.photo_3 %}
  <img class="mySlides" src="{{ plot.photo_3.url }}" style="width:100%">
{% endif %}
{% if plot.photo_4 %}
  <img class="mySlides" src="{{ plot.photo_4.url }}" style="width:100%">
{% endif %}
{% if plot.photo_5 %}
  <img class="mySlides" src="{{ plot.photo_5.url }}" style="width:100%">
{% endif %}
{% if plot.photo_6 %}
  <img class="mySlides" src="{{ plot.photo_6.url }}" style="width:100%">
{% endif %}

  <button class="w3-button w3-theme-l3 w3-card-4 w3-hover-green w3-circle w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-theme-l3 w3-hover-green w3-card-4 w3-circle w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>


