{% load static %}
<div class="col-sm-12 container>
    <div class="row">
     {% if plot_list %}
     
      
       <ul class=" w3-text-black " id="myUL" style="list-style-type: none;">
        {% include 'partials/search/_plotsearch.html' %}
         {% for plot in plot_list %}
         <li>
           {% include 'partials/plots/_ploti.html' %}
         </li>
         {% endfor %}
       </ul>
       {% else %}
         <p>There are no plots in available.</p>
       {% endif %}
      
     </div> 

 
      