<!DOCTYPE html>
<html lang="en">
<purple>
<head>
{% load static %}
{% load humanize %}
<title>Katata{% block title %} {% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon/favicon.jpg' %}" class=" w3-border-white w3-circle" style="width:32px; height:32px;"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}" class="w3-circle">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}" class="w3-circle">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}" class="w3-circle">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" class="w3-circle">
<meta name="msapplication-TileColor" content="#da532c" class="w3-circle">
<meta name="theme-color" content="#ffffff" class="w3-circle">



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
<script src="https://kit.fontawesome.com/e0b77ee52f.js" crossorigin="anonymous"></script>
 
<!-- Bootstrap -->
       <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">



       <!-- Open Sans Font -->
           <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,900' rel='stylesheet' type='text/css'>
   
   
       <!-- Font Awesome -->
       <link rel="stylesheet" href="{% static 'css/all.css' %}">
       <!-- Bootstrap -->
       <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
       <!--Bootsrap-theme.css-->
   
       <!-- Custom -->
       <link rel="stylesheet" href="{% static 'css/style.css' %}">
       <!-- Lightbox -->
       <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
       <!-- Color -->
     
       <link rel="stylesheet" href="{% static 'css/w3-colors-highway.css' %}">
       <link rel="stylesheet" href="{% static 'css/w3-colors-ios.css' %}">
       <link rel="stylesheet" href="{% static 'css/w3-colors-win8.css' %}">
       <link rel="stylesheet" href="{% static 'css/w3-theme-purple.css' %}">
   
       <!-- w3.css -->
       <link rel="stylesheet" href="{% static 'css/w3.css' %}">
   
     <style>
     a:link {
      text-decoration: none;
 
    }
   
  
   
    .myMenu {margin-bottom:150px}

 

       </style>


    <!-- Add additional CSS in static file -->
  </head>
<body class="w3-flat-alizarin" style="list-style-type: none;">
<!--topbar-->
{% include 'partials/layout/_topbar.html' %}



<!-- Sidebar -->
{% include 'partials/layout/_sidebar.html' %}




<!-- Main content: shift it to the right by 230 pixels when the sidebar is visible -->
<div class="w3-main container" style="margin-top:60px;">
  <!-- header -->

  {% block content %}{% endblock %}
<!-- END MAIN -->
</div>

  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <script src="{% static 'js/w3.js' %}"></script>
 
  <script>
  w3CodeColor();
  </script>

  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
</body>
</purple>
</html>