{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title %} | Sign In {% endblock %}
{% block content %}
<div class="container  w3-opacity-min">
    <br> <br>
    <div class="row w3-camo-dark-green">
       
        <div class="col-sm-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>

    
<div class="col-sm-5  w3-text-white w3-margin-bottom ">
    <blockquote class="w3-margin w3-padding-64 w3-xlarge">
        “Education is the passport to the future, for tomorrow belongs to those who prepare for it today.”
        <span class="w3-text-teal">
            <strong>Malcom X</strong></span>
    </blockquote>
</div>

</div>
{% endblock content %}