{% load static %}
<style>
  a:link {
    text-decoration: none;
    

  }
</style>
<!-- Sidebar -->
<div class="w3-sidebar w3-theme-l5 w3-text-black  w3-bar-block w3-collapse w3-animate-left" style="z-index:3;width:200px" id="mySidebar">
  <div class="w3-bar w3-hide-large w3-large">
    <a href="javascript:void(0)" onclick="w3_show_nav('menuTut')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16" style="width:50%">Menu</a>
    <a href="javascript:void(0)" onclick="w3_show_nav('menuRef')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16" style="width:50%">Accounts</a>
  </div>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-right w3-xlarge w3-hide-large" title="Close Menu">×</a>
  <div id="menuTut" class="myMenu">
  <div class="w3-container">
    <h3 class="w3-center"> FIND PLOTS </h3>
  </div>
  <a class="w3-bar-item  w3-hover-shadow w3-border-bottom w3-text-black w3-border-theme" href="{% url 'index' %}">Home</a>
  <a class="w3-bar-item w3-hover-shadow w3-border-bottom w3-border-theme w3-text-black"  href="{% url 'towns' %}">All Towns</a>
  <a class="w3-bar-item  w3-hover-shadow w3-border-bottom w3-border-theme w3-text-black" href="{% url 'locations' %}">All Locations</a>
  <a class="w3-bar-item  w3-hover-shadow w3-border-bottom w3-border-theme w3-text-black" href="{% url 'plots' %}">All Plots</a>
  <a class="w3-bar-item  w3-hover-shadow w3-border-bottom w3-border-theme w3-text-black" href="{% url 'realtors' %}">All realtors</a>
  <a class="w3-bar-item  w3-hover-shadow w3-border-bottom w3-border-theme w3-text-black" href="{% url 'companys' %}">All companies</a>

 
  </div>
  <div id="menuRef" class="myMenu" style="display:none">
  <div class="w3-container">
    
    <h3 class="w3-center">accounts</h3>
  </div>


  {% if user.is_authenticated %}
  User: {{ user.get_username }}
  <a class="w3-bar-item w3-button" href="{% url 'my-loaned' %}">My Loaned Plots</a>
  <a class="w3-bar-item w3-button" href="{% url 'logout'%}?next={{request.path}}">Logout</a> 
{% else %}
  <a class="w3-bar-item w3-button" href="{% url 'login'%}?next={{request.path}}">Login</a>  
{% endif %} 


{% if user.is_staff %}
<hr />

<h6>Staff</h6>
{% if perms.catalog.can_mark_returned %}
<a class="w3-bar-item w3-button" href="{% url 'all-loaned' %}">All Loaned plots</a></li>
{% endif %}

 {% endif %}

  </div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<script>
  // Script to open and close the sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }
   
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
  
  function w3_show_nav(name) {
    document.getElementById("menuTut").style.display = "none";
    document.getElementById("menuRef").style.display = "none";
    document.getElementById(name).style.display = "block";
    w3-open();
  }
  </script>