{% load static %}
<!-- Top -->
<!-- Top menu -->
<div class="w3-top">
 <div clas="w3-center w3-xxlarge">
  <a href="{% url 'index' %}">
    <div class="  w3-padding-16 w3-left w3-xlarge" ">
        <span class="w3-theme  w3-round w3-margin w3-hover-shadow "><img src="{% static 'img/favicon/favicon-32x32.png' %}" alt="home" style="width:40px; height:40px;">𝐤ᗩ𝕥𝓪𝐓𝔞..</span>
    </div>
  </a>
  </div>   

  <div class=" w3-margin w3-right w3-text-purple  "  >
    <span>
      {% if user.is_authenticated %}
      <a class="w3-bar-item  w3-white  btn w3-hover-border-purple w3-hover-shadow w3-hover-text-green w3-text-khaki" href="{% url 'logout'%}?next={{request.path}}">logout</a> 
      {%  endif %}
    </span>
    <span class="btn w3-hover-border-purple w3-hover-shadow w3-xlarge  w3-hover-text-green" onclick="w3_open()" > ☰  </span>
  </div>
</div>

