{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<!--style-->
{% include 'partials/companies/_cocardscss.html' %}

<!--heading-->
    <header class="w3-padding-large w3-margin-bottom">
      <div class="w3-theme-l5 ">
        <div class="w3-border-theme w3-bottombar" style="width:350px;">
          <h1 class="w3-jumbo"> Company</h1>
          <h5 class=" "> Companies Selling Plots</h5>
        </div>
      </div>
    </header>
    <br>
<!--main-->
    <div class="container w3-margin">
  {% if company_list %}
  <div class="row">
    
    {% for company in company_list %}
     <!--card-->
        {% include 'partials/companies/_cocards.html' %}
         
    {% endfor %}
  </div>
  {% else %}
      <p>There are no companys available.</p>
  {% endif %}
  </div>
  
  <!--js-->
  {% include 'partials/companies/_cocardsextra.html' %}
 


{% endblock %}