{% extends "base_company.html" %}
{% load static %}
<style>

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>

{% block content %}
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="{% url 'company-detail' plot.company.pk %}" onclick="w3_close()" class="w3-bar-item w3-button">{{ plot.company }}</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <a href="{% url 'company-detail' plot.company.pk  %}"><div class="w3-right pill  btn w3-large w3-border-white w3-red w3-padding-16"><i class="fas fa-chevron-left "></i> Back</div></a>
   
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-margin-bottom w3-padding-large col-sm-12 container">
            




        <header>
            <div class="w3-center w3-padding-16">
                <span class="box"><a href="{% url 'company-detail' plot.company.pk %}"><img src="{{ plot.company.logo.url }}" class="w3-bar-item w3-circle " style="width:85px"></a></span>
                <h2>{{ plot.company|capfirst }}</h1>
            </div>
            <br><br>
            <span class="w3-large w3-padding w3-center"> {{ plot.title }} </span>
            <span class="w3-large w3-padding w3-badge w3-red w3-center">Size: {{ plot.plot_size }} </span>
            <span class="w3-large w3-padding w3-center"><b>Listed on</b> {{ plot.list_date }} </span>
            
            <hr class="w3-theme-l4 " style="width:95%; padding:1px;">
            <div class="row ">
            <div class="col-sm-3">
            {% if plot.realtor.profile.url %}
            <span><a href="{% url 'realtor-detail' plot.realtor.pk %}"><img src="{{ plot.realtor.profile.url }}" class=" w3-border w3-red w3-padding w3-card-4 " data-placement="bottom" title="View More From Me" style="width:100%"></a></span>
            {% endif %}
            </div>
            <div class="col-sm-8 " style="height:230px; width:100%">
            <img src="{{plot.company.about_pic.url}}" alt="" style="height:230px; width:100%">
            </div>
            </div>
            <br><br>
            <div class="row">
            <div class="col-sm-3  w3-border-left">
                <p></p>
                <p><strong>Company</strong><a href="{% url 'company-detail' plot.company.pk %}"> {{ plot.company }}</a></p>
                <p><strong>Realtor</strong><a href="{% url 'realtor-detail' plot.realtor.pk %}"> {{ plot.realtor.first_name }}
                <i class=" fa fa-phone w3-border w3-large w3-circle w3-red w3-text-white"></i>{{plot.realtor.phone}}</a></p>
            </div>
            <div class="col-sm-3  w3-border-left">
                <p></p>
                <p><span class="badge w3-amber"><strong>Price:</strong> Kes: {{ plot.price }}</span> </p> 
                <p><span class="badge w3-blue"><strong>Installments:</strong>  {{ plot.payment_plan }}</span></p> 
            </div>
            <div class="col-sm-3  w3-border-left">
                <p></p>
                <p><strong>Town:</strong> <a href="{% url 'town-detail' plot.town.pk %}">{{ plot.town }}</a></p>
                <p><strong>Closest Center:</strong> <a href="{% url 'location-detail' plot.location.pk %}">{{ plot.location }}</a></p>
            </div>
            <div class="col-sm-3  w3-border-left">
                <p class="w3-text-theme"></p>
                <p><strong>Water:</strong> <i class="fas fa-tint w3-text-blue"></i> {{ plot.water }}</p>
                <p><strong>Electricity:</strong> <i class="fas fa-lightbulb w3-text-amber"></i> {{ plot.electricity }}</p>
            </div>
            <br><br>
            <hr class="w3-theme-l4 " style="width:95%; padding:1px;">
            <div class="col-sm-2  w3-border-left">
                <p class="w3-text-theme"><strong>Type of Road</strong></p>
                <p><i class="fas fa-road w3-text-black"></i> {{ plot.roads }}</p>
            </div>
            <div class="col-sm-2  w3-border-left">
                <p class="w3-text-theme"><strong>Residence Type</strong></p>
                <p><i class="fab fa-houzz w3-text-pink"></i> {{ plot.plot_type }}</p>
            </div>
            <div class="col-sm-3  w3-border-left">
                <p class="w3-text-theme"><strong>Development:</strong></p>
                <p>{{ plot.development }}</p>
            </div>
            <div class="col-sm-2  w3-border-left">
                <p class="w3-text-theme"><strong>Population:</strong></p>
                <p> <i class="fas fa-users w3-text-theme"></i> {{ plot.population}}</p>
            </div>
            <div class="col-sm-2  w3-border-left">
                <p class="w3-text-theme"><strong>closest neighbour:</strong></p>
                <p><i class="fas fa-user-friends w3-text-green"></i> {{plot.neighbor}}</p>
            
            </div>
            <br><br>
            </div>
            
            </header>
            
            
            <div class="row">
                <div class="col-sm-11" >
                    <hr class="w3-theme-l4 " style="width:100%; padding:1px;">
                    <h4 class="w3-center">In Pictures</h4>
                    {% include 'partials/plots/_pdc.html' %}
            
                <div class="col-sm-11  w3-margin-top">
                    <p><strong>Summary:</strong> {{ plot.description|safe }}</p>
                </div>
                
              
            </div>












        
    <!-- End page content -->
    </div>
</div>

  {% endblock %}
