{% extends "base_generic.html" %}

{% block content %}
<header class="">
  <div class="w3-theme-l5 jumbotron   ">
    <div class="w3-border-theme w3-bottombar" style="width:350px;">
      <h1 class="w3-jumbo"> Realtor</h1>
      <h5 class=" ">Realtors Selling Plots</h5>
    </div>
  </div>
</header>


   <!-- realtor Profile -->
  <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="myInput" onkeyup="myFunction()">

{% if realtor_list %}

<div class="row">

  {% for realtor in realtor_list %}
 
 
   <div  class="col-sm-3 w3-margin w3-border w3-hover-shadow w3-hide-small  w3-white" ">
    <div class="w3-container">
     <h4 class="w3-center"></h4>
     <p class="w3-center">
       <img src="{{ realtor.profile.url }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
     
      <div class="col-sm w3-center w3-large">
        <span>
          <a href=""><i class="fa fa-facebook fa-fw w3-text-blue"></i></a>
        </span>
        <span>
          <a href=""><i class="fa fa-instagram fa-fw w3-text-orange"></i></a>
        </span>
        <span>
          <a href=""><i class="fa fa-twitter fa-fw w3-text-light-blue"></i></a>
        </span>
        <span>
          <a href=""><i class="fa fa-youtube fa-fw w3-text-red"></i></a>
        </span>
      </div>
     {% if realtor %}
     <p class="w3-border-top w3-margin"><i class="fa fa-bank fa-fw w3-margin-right w3-text-theme"></i> {{ realtor }}</p>
     {% endif %}
     {% if realtor.phone %}
     <p class="w3-border-top w3-margin"><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.phone }}</p>
     {% endif %}
     {% if realtor.email %}
     <p class="w3-border-top w3-margin"><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.email }}</p>
     {% endif %}
     {% if realtor.website %}
     <p class="w3-border-top w3-margin"><i class="fa fa-globe fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.website }}</p>
     {% endif %}
     <p class=" w3-margin"><i class="fa fa-link fa-fw w3-margin-right w3-text-green"></i> <a href="{{ realtor.get_absolute_url }}" class="badge w3-hover-white w3-hover-text-green card-link w3-green w3-right">View My Plots</a></p>
 
    </div>
  </div>
</li> 
<li class="w3-hide-large w3-hide-medium">
  <div class="w3-margin w3-border w3-hover-shadow w3-hide-large w3-hide-medium  w3-white" style="width:100%">
    <div class="w3-container">
      <h4 class="w3-center"></h4>
      <p class="w3-center">
        <img src="{{ realtor.profile.url }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
      
       <div class="col-sm w3-center w3-large">
         <span>
           <a href=""><i class="fa fa-facebook fa-fw w3-text-blue"></i></a>
         </span>
         <span>
           <a href=""><i class="fa fa-instagram fa-fw w3-text-orange"></i></a>
         </span>
         <span>
           <a href=""><i class="fa fa-twitter fa-fw w3-text-light-blue"></i></a>
         </span>
         <span>
           <a href=""><i class="fa fa-youtube fa-fw w3-text-red"></i></a>
         </span>
       </div>
       {% if realtor %}
       <p class="w3-border-top w3-margin"><i class="fa fa-bank fa-fw w3-margin-right w3-text-theme"></i> {{ realtor }}</p>
       {% endif %}
       {% if realtor.phone %}
       <p class="w3-border-top w3-margin"><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.phone }}</p>
       {% endif %}
       {% if realtor.email %}
       <p class="w3-border-top w3-margin"><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.email }}</p>
       {% endif %}
       {% if realtor.website %}
       <p class="w3-border-top w3-margin"><i class="fa fa-globe fa-fw w3-margin-right w3-text-theme"></i> {{ realtor.website }}</p>
       {% endif %}
       <p class=" w3-margin"><i class="fa fa-link fa-fw w3-margin-right w3-text-green"></i> <a href="{{ realtor.get_absolute_url }}" class="badge w3-hover-white w3-hover-text-green card-link w3-green w3-right">View My Plots</a></p>  
      
  
     </div>
   </div>
  </li>
  <br>
  

 
  {% endfor %}


{% else %}
  <p>There are no realtors available.</p>
{% endif %}
 
</div>


<script>
  function myFunction() {
    var input, filter, div, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      txtValue = li[i].textContent || li[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  </script>
{% endblock %}