{% extends "base_generic.html" %}

{% block content %}
<div class="container" style="margin-left:20px;margin-top:20px">
  <h3>Realtor: {{realtor}} </h3>
<div class="container col-sm-11">
  <div class="row">
    <div class="col-sm-5">
      <h5 class="w3-text-theme "><strong>Towns i am operating in</strong></h5>
      {% for town in realtor.town.all %}<span class="w3-border  btn"> {{town}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}<br>
      <h5 class="w3-text-theme  "><strong>Areas the plots are:</strong></h5>
      {% for location in realtor.location.all %}<span class="w3-border  btn"> {{location}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}
      </div>
      <div class="col-sm-6 w3-border">
        <span>advert spot</span>
      </div>
  </div>
</div>
<br><br>
<!--Plots-->
<div class="w3-margin-bottom col-sm-8 container">
  <h3><strong class="w3-text-theme">  All My Plots </strong> </h3>
  <ul class="w3-ul row w3-text-black ">
    {% for plot in realtor.plot_set.all %}
  <li>
    {% include 'partials/plots/_ploti.html' %}
  </li>
  {% endfor %}

</ul>
      </div>

      <div class="col-sm-8 w3-padding-large">
        <div>
          <br><br>
          <img src="{{realtor.about_pic.url}}" alt="about pic" class="w3-margin-top" style="height:200px;">
        </div>
        <h2 class="w3-center">About Me</h2>
        <div>
          {{realtor.about_realtor|safe}}
        </div>
    </div>

<br><br>

</div>
{% endblock %}