{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container  col-sm-9 w3-margin ">
<form action="" method="post">
    {% csrf_token %}
    <div class="form-row  w3-margin-left">
        <div class="form-group col-sm">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-sm">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="form-group col-sm">
            {{ form.profile|as_crispy_field }}  
            <span class="small">profile pic</span>
        </div>

    </div>
    <div class="form-row  w3-margin-left">
        <div class="form-group col-sm-6">
            {{ form.email|as_crispy_field }}
       
            {{ form.phone|as_crispy_field }}
        </div>       
        <div class="form-group col-sm-3">
            {{ form.town|as_crispy_field }}
        </div>
        <div class="form-group col-sm-3">
            {{ form.location|as_crispy_field }}
        </div>

        <div class="form-group col-sm-4">
            <span>{{ form.facebook|as_crispy_field }}</span>
        </div>
        <div class="form-group col-sm-4">    
            <span>{{ form.twitter|as_crispy_field }}</span>
        </div>
        <div class="form-group col-sm-4">
            <span>{{ form.instagram|as_crispy_field }}</span>
        </div>
        <div class="form-group col-sm-6">
            <span>{{ form.website|as_crispy_field }}</span>
        </div>

        <div class="form-group col-sm-6">
            {{ form.created_on|as_crispy_field }}
        </div> 
    </div>
   
    <input class="w3-margin-left" type="submit" value="Submit" />
    
</form>
</div>
{% endblock %}